body {
  font-weight: normal;
  color: #333333;
  font-family: メイリオ;
  font-size: 16px;
  }
  
 .wrapper{
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
 }

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.header h1{
  margin-right: auto;
}

.btn01{
  width: 150px;
	text-align: center;
	background-color: #d35850;
	color: #fff;
	padding: 15px 20px;
  margin-right: 10px;
}

.btn02{
  width: 150px;
	text-align: center;
	background-color: #337a36;
	color: #fff;
	padding: 15px 20px;
}

.menu{
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

p{
  margin-right: auto;
  margin-left: auto;
}

img{
  max-width: 100%;
}


.content_01{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: center;
}

.sec_02 h1{
  margin-top: 80px;
  margin-bottom: 20px;
}

.content_02{
  display: flex;
  justify-content: space-between;
}

.wrapper_03{
  max-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(221, 221, 221);
}

.content_03{
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 20px;
  align-items: center;
}

.content_04{
  display: flex;
  justify-content: space-between;
}

h5{
  margin: 5px;
}

.sec_04{
  margin-bottom: 80px;
}

.sec_05 {
  display: flex;
  justify-content: space-between;
  background-color: #cccccc;
  padding: 60px;
  margin-top: 80px;
}

.sec_05 h4 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn{
  width: 500px;
  background-color: #fff;
  height: 150px;
}

.btn_03 {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  display: block;
  text-align: center;
  color: #fff;
  background-color: #ce7474;
  border-radius: 0px;
}

.btn_04 {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  display: block;
  text-align: center;
  color: #fff;
  background-color: #4ca750;
  border-radius: 0px;
}

.sec_06{
  margin-top: 500px;
  text-align: center;
  border-bottom: 1px solid #868686;
  padding-bottom: 50px;
  margin-bottom: 30px;
}


.sec_06 p{
  margin-top: 5px;
}

.link_01{
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.link_02{
  text-align: right;
  padding-bottom: 200px;
}

footer p{
  text-align: center;
	font-size: 12px;
	padding: 20px 0;
  border-top: 1px solid #868686;
  padding-top: 20px;
}